@import url(https://cdn.jsdelivr.net/font-comicneue/1.1/font.css);



}
body{
    font-family: 'Comic Neue', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    background-image: url("../img/Background.png");
    -webkit-align-self: center;
    align-self: center;
    color: #ffffff;

}

#info {
    display: none;
}